LOG_LEVEL=DEBUG

TP_DB__USERNAME="typephoon"
TP_DB__PASSWORD="123"

TP_GOOGLE__CLIENT_ID="XXXX"
TP_GOOGLE__CLIENT_SECRET="XXXX"

# Can be generated with "./scripts/generate_pk.sh"
TP_TOKEN__PUBLIC_KEY="XXXX"
TP_TOKEN__PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----
XXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXX
-----END RSA PRIVATE KEY-----"
